<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
      <title>TestPage</title>
  </head>
  <body>
    <section class="section">
      <div class="container">
        <div id="app" class="columns"><!-- React --></div>
          YOU ARE NOT LOGGED IN!<p id="test"></p>
      </div>
        {% load socialaccount %}

        <h1>Bunch of login stuff</h1>
        {% if user.is_authenticated %}
        <p>Hello {{ user.username }} =)</p>
        <p><a href="{% url 'account_logout' %}">Log out</a>
        {% else %}
        <p><a href="{% url 'account_signup' %}">Sign Up</a></p>
        <p><a href="{% url 'account_login' %}">Log In </a></p>
        <p><a href="{% provider_login_url 'google' %}">Log In with Gmail</a></p>
        {% endif %}
    </section>
    <section class="section">
        <div class = "API-box">
            <iframe src="http://127.0.0.1:8000/api/" width="1200" height="800"></iframe>
        </div>
    </section>
  </body>

</html>